In [1]:
YEAR='2019'
RES_PATH='C:\\Users\\14106\\GAT\\result\\'
PRO_PATH='C:\\Users\\14106\\GAT\\preprocessed'+YEAR+'\\'
CODE_PATH="C:\\Users\\14106\\GAT\\"
RAW_PATH="C:\\Users\\14106\\GAT\\100school\\"
ORIG_UNIV=['columbia',"notredame","uofm","UCSD",'berkeley',"Harvard","ucla", 'dartmouth']

#C:\Backup of covid project\2cls_CScombined_negVSnonneg
import numpy as np 
import urllib.request 
import os 
import csv 
import requests 
import time
import math
import rando
import pandas as pd
from collections import defaultdict
import pickle
import heapq
import pickle
import warnings
import tqdm
#from keras.preprocessing.sequence import pad_sequences
from math import exp
#import tensorflow_hub as hub
#import tensorflow_text

REGION={'WEST':['AK','HI','WA','OR','CA','MT','ID','WY',
                'NV','UT','CO','AZ','NM'],
        'MIDWEST':['ND','SD','NE','KS','MN','IA',
                  'MO','WI','IL','IN','MI','OH'],
        'NORTHEAST':['NY','NJ','PA','ME','VT','NH','MA','CT','RI'],
        'SOUTH':['OK','TX','AR','LA','KY','TN','MS','AL',
                'WV','DE','MD','DC','VA','NC','SC','GA','FL']}

In [2]:
def get_subreddits():
    os.chdir(RAW_PATH)
    dat = pd.read_csv('colleges-CCIHE-final.csv')
    schools = []
    for i in range(len(dat.name)):
        schools.append(dat.loc[i, 'subreddit'])
    return schools

# Schools in college.csv but not in comment
Criterion: four years < 20 or at least two years < 10

In [9]:
full_list=get_subreddits()
files = set(os.listdir(RAW_PATH))
schools_to_remove=[]
for s in tqdm.tqdm(full_list):
    num=[]
    year_available=4
    for year in range(2019, 2023, 1):
        name='comment_'+s+'_'+str(year)+'.csv'
        if name not in files:
            num.append(0)
            year_available-=1
            continue
    '''
        os.chdir(RAW_PATH)
        data=pd.read_csv(name,skip_blank_lines=True)
        num.append(len(data['id']))
            
    c1=sum([i<20 for i in num])
    c2=sum([i<10 for i in num])
    if c1>=4 or c2>=2:
        schools_to_remove.append(s)
    '''
    if year_available<4:
        print(s)

100%|████████████████████████████████████████████████████████████████████████████| 128/128 [00:00<00:00, 128009.28it/s]

In [19]:
print(schools_to_remove)
#['ProvidenceCollege', 'SHU', 'UMT', 'UniversityOfToledo', 'uwyo']

['ProvidenceCollege', 'SHU', 'UMT', 'UniversityOfToledo', 'uwyo']

Also check which universities only have some years avaliable

In [32]:

def get_files_name():
    files = os.listdir(RAW_PATH)
    files = [f[8:-9] for f in files if f[-8:-4]=='2019']
    return files

full_list=get_files_name()
files = set(os.listdir(RAW_PATH))
schools_to_remove=[]
for s in tqdm.tqdm(full_list):
    num=[]
    year_available=4
    for year in range(2019, 2023, 1):
        name='comment_'+s+'_'+str(year)+'.csv'
        if name not in files:
            num.append(0)
            year_available-=1
            continue
    if year_available<4:
        print(s)
        
# wellesley college only have 2019, columbia only have 2021 2022

100%|████████████████████████████████████████████████████████████████████████████| 128/128 [00:00<00:00, 127978.76it/s]

WellesleyCollege

# Variable selection

In [5]:
import pandas as pd
import os

DEMO_PATH='C:\\Users\\14106\\GAT\\100school\\'
RES_PATH='C:\\Users\\14106\\GAT\\result\\'

name=DEMO_PATH+'colleges-CCIHE-final.csv'
data=pd.read_csv(name ,skip_blank_lines=True)

In [4]:
data.describe(include='all')

,name,rankings,D1,location,subreddit,city,stabbr,basic2000,basic2005,basic2010,...,satv25,satm25,satcmb25,actcmp25,satacteq25,actfinal,appsf20,admitsf20,pctadmitf20,selindex
count,128,119.000000,128,128,128,128,128,128.000000,128.000000,128.000000,...,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000,128.000000
unique,128,NaN,2,115,128,114,47,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,Amherst College,NaN,Y,"Chicago, Illinois, United States",amherstcollege,Chicago,CA,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,108,4,1,4,10,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,100.613445,NaN,NaN,NaN,NaN,NaN,16.460938,15.750000,15.703125,...,553.992188,561.039062,1115.000000,24.054688,22.898438,23.361237,30643.484375,14417.960938,0.524930,2.539062
std,NaN,86.081860,NaN,NaN,NaN,NaN,NaN,5.170940,1.441784,1.449189,...,175.298463,182.417942,357.184969,8.341442,7.821674,8.013346,19307.277479,10965.225020,0.291446,0.587298
min,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,15.000000,15.000000,15.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5033.000000,536.000000,0.050065,1.000000
25%,NaN,35.000000,NaN,NaN,NaN,NaN,NaN,15.000000,15.000000,15.000000,...,540.000000,530.000000,1070.000000,21.000000,21.000000,21.102626,16843.250000,5868.750000,0.213032,2.000000
50%,NaN,77.000000,NaN,NaN,NaN,NaN,NaN,15.000000,15.000000,15.000000,...,580.000000,580.000000,1165.000000,25.000000,24.000000,24.312309,28077.500000,13617.000000,0.632867,3.000000
75%,NaN,144.000000,NaN,NaN,NaN,NaN,NaN,15.000000,16.000000,16.000000,...,650.000000,670.000000,1312.500000,30.000000,28.000000,28.644020,40351.750000,18914.750000,0.778732,3.000000
max,NaN,385.000000,NaN,NaN,NaN,NaN,NaN,59.000000,21.000000,21.000000,...,740.000000,790.000000,1530.000000,35.000000,34.000000,34.432584,108870.000000,74604.000000,0.963559,3.000000

In [3]:
data.value_counts(normalize=True)

Series([], dtype: float64)

# GLM

In [6]:


STATE2REG=dict()
for key, val in REGION.items():
    for s in val:
        STATE2REG[s]=key

def get_senti_class(e):
    return e>0.5

In [7]:
#drop columbia for now. Remember to add it back!!!
name=DEMO_PATH+'colleges-CCIHE-final.csv'
data=pd.read_csv(name ,skip_blank_lines=True)
data=data.loc[0:(len(data.index)),['name','subreddit','stabbr','sector']]

# key: subred name. val: [region, sector, school name]
df2dic=dict()
for i in range(len(data.index)):
    df2dic[data.loc[i,'subreddit']]=[STATE2REG[data.loc[i,'stabbr']],
                                    data.loc[i,'sector'],
                                    data.loc[i,'name']]

In [8]:
df=pd.DataFrame(columns=['school','subred','year','sector','region',
                         'senti'])
os.chdir(RES_PATH)
for key, val in tqdm.tqdm(df2dic.items()):
    for year in range(2019,2023,1):
        name=key+'_'+str(year)+'_prob.csv'
        #ry:
        data=pd.read_csv(name,skip_blank_lines=True)
        df_temp=pd.DataFrame(columns=['school','subred','year','sector','region',
                         'senti'])
        df_temp['senti']=data['esm_neg'].apply(get_senti_class)
        df_temp['school']=df2dic[key][2]
        df_temp['subred']=key
        df_temp['year']=str(year)
        df_temp['sector']=str(df2dic[key][1])
        df_temp['region']=str(df2dic[key][0])
        df = pd.concat([df,df_temp])
        
        '''
        for i in range(len(data.index)):
            df.loc[len(df.index)]=[df2dic[key][2],
                                    key,
                                    year,
                                    df2dic[key][1],
                                    df2dic[key][0],
                                    data.loc[i,'esm_neg']>0.5]
        '''
        #xcept:
        #   continue

100%|█████████████████████████████████████████████████████████████████████| 128/128 [03:08<00:00,  1.47s/it]

In [9]:
os.chdir(RES_PATH)
df.reset_index()
df.loc[:,'year']=(df.year).apply(str)
df.to_csv('GLM.csv', header=True,index=False,encoding="utf-8-sig")

os.chdir(RES_PATH)

#df=pd.read_csv('GLM.csv',skip_blank_lines=True)
df.loc[:,'year']=(df.year).apply(str)

In [94]:
import statsmodels.formula.api as smf
import statsmodels.api as sm

#negative sentiment is true, nonneg ia false
#Use negativve as reference class
formula = 'senti ~ year+sector+region'
formula = 'C(senti, Treatment(reference=1)) ~ year+sector+region'

model = smf.glm(formula = formula, data=df, family=sm.families.Binomial())
result = model.fit()
print(result.summary())

                                                   Generalized Linear Model Regression Results
=================================================================================================================================================
Dep. Variable:     ['C(senti, Treatment(reference=1))[False]', 'C(senti, Treatment(reference=1))[True]']   No. Observations:              4095922
Model:                                                                                               GLM   Df Residuals:                  4095914
Model Family:                                                                                   Binomial   Df Model:                            7
Link Function:                                                                                     Logit   Scale:                          1.0000
Method:                                                                                             IRLS   Log-Likelihood:            -2.6830e+06
Date:                                                                                   Tue, 06 Jun 2023   Deviance:                   5.3660e+06
Time:                                                                                           08:30:55   Pearson chi2:                 4.10e+06
No. Iterations:                                                                                        5   Pseudo R-squ. (CS):           0.002583
Covariance Type:                                                                               nonrobust
=======================================================================================
                          coef    std err          z      P>|z|      [0.025      0.975]
---------------------------------------------------------------------------------------
Intercept               0.6178      0.003    206.305      0.000       0.612       0.624
year[T.2020]           -0.2360      0.003    -78.838      0.000      -0.242      -0.230
year[T.2021]           -0.0707      0.003    -23.606      0.000      -0.077      -0.065
year[T.2022]           -0.1085      0.003    -34.656      0.000      -0.115      -0.102
sector[T.2]             0.1961      0.003     59.643      0.000       0.190       0.203
region[T.NORTHEAST]    -0.0216      0.003     -6.890      0.000      -0.028      -0.015
region[T.SOUTH]         0.0296      0.003     10.456      0.000       0.024       0.035
region[T.WEST]          0.0762      0.003     24.238      0.000       0.070       0.082
=======================================================================================

In [15]:
(df.columns)
df

,school,subred,year,sector,region,senti
0,Amherst College,amherstcollege,2019,2,NORTHEAST,False
1,Amherst College,amherstcollege,2019,2,NORTHEAST,False
2,Amherst College,amherstcollege,2019,2,NORTHEAST,False
3,Amherst College,amherstcollege,2019,2,NORTHEAST,False
4,Amherst College,amherstcollege,2019,2,NORTHEAST,True
...,...,...,...,...,...,...
8469,Columbia University in the City of New York,columbia,2022,2,NORTHEAST,False
8470,Columbia University in the City of New York,columbia,2022,2,NORTHEAST,False
8471,Columbia University in the City of New York,columbia,2022,2,NORTHEAST,False
8472,Columbia University in the City of New York,columbia,2022,2,NORTHEAST,False
8473,Columbia University in the City of New York,columbia,2022,2,NORTHEAST,False

# GLMM

In [6]:
import statsmodels.formula.api as smf
from patsy import dmatrices


formula = "rt ~ group*orientation*identity"
formula = 'senti ~ year+sector+region'
formula = 'C(senti, Treatment(reference=1)) ~ year+sector+region'
model = smf.glm(formula = formula, data=df, family=sm.families.Binomial())
result = model.fit()
print(result.summary())

#formula = "rt ~ -1 + cbcond"
md  = smf.mixedlm(formula, df, groups=tbltest["subj"])
mdf = md.fit()
print(mdf.summary())

NameError: name 'tbltest' is not defined

# Average sentiment for each region

In [97]:
dic=dict()
dic['WEST']=[0,0]
dic['MIDWEST']=[0,0]
dic['NORTHEAST']=[0,0]
dic['SOUTH']=[0,0]

for key, val in tqdm.tqdm(df2dic.items()):
    #rint(key)
    name=key+'_'+YEAR+'_prob.csv'
    reg=val[0]
    #rint(reg)
    df=pd.read_csv(name,encoding="utf-8-sig")
    dic[reg][1]+=len(df.index)
    dic[reg][0]+=sum(df['esm_neg']>0.5)
for key, val in dic.items():
    print(key)
    print(val[0]/val[1])

100%|████████████████████████████████████████████████████████████████████████████████| 127/127 [00:17<00:00,  7.42it/s]

WEST
0.3249158159883336
MIDWEST
0.34510251170845807
NORTHEAST
0.34293517413416774
SOUTH
0.3467506704636567

In [55]:
dic

{'WEST': [290752, 853326],
 'MIDWEST': [290752, 853326],
 'NORTHEAST': [290752, 853326],
 'SOUTH': [290752, 853326]}